<!--Написано Харчуком Олексієм-->
{% extends "base.html" %}

{% block title %}Про Нас{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="about-section">
        <h1 class="about-h1">Про Нас</h1>
        <h3 class="about-h3">Ми — команда ентузіастів, яка створила платформу для продажу стильних і якісних кросівок. Наша мета — допомогти кожному знайти 
            ідеальну пару, яка поєднує комфорт, стиль та довговічність.</h3>
        <h3 class="about-h3"> Ми обираємо тільки перевірених виробників і прагнемо надавати найкращий сервіс для наших клієнтів.
             Наш сайт — це місце, де ви знайдете не лише останні моделі, але й класичні варіанти для будь-якої ситуації.</h3>
    </div>
      
    <h2 class="about-h2" style="text-align:center">Наша команда</h2>

    <div class="row">
        <div class="about-column">
            <div class="about-card">
                <img src="{{ url_for('static', filename='About/Денис.jpg') }}" alt="Jane" style="width:100%">
                <div class="about-container">
                    <h2 class="about-h2">Скопін Денис</h2>
                    <p class="about-title">SEO Specialist</p>
                    <p class="about-p">Завжди знаходить найефективніші ключові слова та стратегії, щоб зробити наш сайт помітним і популярним.</p>
                    <p1>denisskopin83@gmail.com</p1>
                    <p><a href="/contacts" class="about-button">Contact</a></p>
                </div>
            </div>
        </div>
      
        <div class="about-column">
            <div class="about-card">
                <img src="{{ url_for('static', filename='About/Костя.jpg') }}" alt="Mike" style="width:100%">
                <div class="about-container">
                    <h2 class="about-h2">Пархомчук Костянтин</h2>
                    <p class="about-title">UI/UX Designer</p>
                    <p class="about-p">Створює інтуїтивно зрозумілі та стильні дизайни, роблячи кожну взаємодію з нашим сайтом приємною і легкою для клієнтів.</p>
                    <p1>KostyaParh@gmail.com</p1>
                    <p><a href="/contacts" class="about-button">Contact</a></p>
                </div>
            </div>
        </div>
      
        <div class="about-column">
            <div class="about-card">
                <img src="{{ url_for('static', filename='About/Антон.jpg') }}" alt="John" style="width:100%">
                <div class="about-container">
                    <h2 class="about-h2">Тартаковський Антон</h2>
                    <p class="about-title">Customer Service Manager</p>
                    <p class="about-p">Завжди готовий вислухати клієнта, знаходить рішення в будь-яких ситуаціях і забезпечує найвищий рівень обслуговування.</p>
                    <p1>AntonTart@gmail.com</p1>
                    <p><a href="/contacts" class="about-button">Contact</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="about-column">
        <div class="about-card">
            <img src="{{ url_for('static', filename='About/Ілля.jpg') }}" alt="John" style="width:100%">
            <div class="about-container">
                <h2 class="about-h2">Вознюк Ілля</h2>
                <p class="about-title">Logistics Manager</p>
                <p class="about-p">Майстер планування, який гарантує швидку та надійну доставку кожної пари кросівок до наших покупців.</p>
                <p1>IllyaaaaVoz@example.com</p1>
                <p><a href="/contacts" class="about-button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="about-column">
        <div class="about-card">
            <img src="{{ url_for('static', filename='About/Льоша.jpg') }}" alt="John" style="width:100%">
            <div class="about-container">
                <h2 class="about-h2">Олексій Харчук</h2>
                <p class="about-title">Data Analyst</p>
                <p class="about-p">Аналізує цифри та перетворює їх на практичні ідеї, що допомагають нашому бізнесу вдосконалюватися.</p>
                <p1>OleksiiHarchuk@gmail.com</p1>
                <p><a href="/contacts" class="about-button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="about-column">
        <div class="about-card">
            <img src="{{ url_for('static', filename='About/миха.jpg') }}" alt="Mike" style="width:100%">
            <div class="about-container">
                <h2 class="about-h2">Чернік Михайло</h2>
                <p class="about-title">Sales Manager</p>
                <p class="about-p">Вміє знайти підхід до кожного клієнта, мотивує команду та завжди тримає руку на пульсі продажів.</p>
                <p1>misha3213@hmail.com</p1>
                <p><a href="/contacts" class="about-button">Contact</a></p>
            </div>
        </div>
    </div>

    <div class="about-column">
        <div class="about-card">
            <img src="{{ url_for('static', filename='About/Богдан.jpg') }}" alt="Mike" style="width:100%">
            <div class="about-container">
                <h2 class="about-h2">Фищук Богдан</h2>
                <p class="about-title">Social Media Manager</p>
                <p class="about-p">Завжди креативний і енергійний, створює контент, який привертає увагу і перетворює перегляди на покупки.</p>
                <p1>bogdan14252@example.com</p1>
                <p ><a href="/contacts" class="about-button">Contact</a></p>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}
