<!--Написано Харчуком Олексієм-->
{% extends "base.html" %}

{% block title %}Про Нас{% endblock %}
 
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
<body>
    <div class="about-section">
        <h1>Про Нас</h1>
        <h3>Ми — команда ентузіастів, яка створила платформу для продажу стильних і якісних кросівок. Наша мета — допомогти кожному знайти 
            ідеальну пару, яка поєднує комфорт, стиль та довговічність.</h3>
        <h3> Ми обираємо тільки перевірених виробників і прагнемо надавати найкращий сервіс для наших клієнтів.
             Наш сайт — це місце, де ви знайдете не лише останні моделі, але й класичні варіанти для будь-якої ситуації.</h3>
      </div>
      
      <h2 style="text-align:center">Наша команда</h2>

      <div class="row">
        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='About/Денис.jpg') }}" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Скопін Денис</h2>
              <p class="title">SEO Specialist</p>
              <p>Завжди знаходить найефективніші ключові слова та стратегії, щоб зробити наш сайт помітним і популярним.</p>
              <p1>denisskopin83@gmail.com</p1>
              <p><a href="/contacts" class="button">Contact</a></p>

              
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='About/Костя.jpg') }}" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Пархомчук Костянтин</h2>
              <p class="title">UI/UX Designer</p>
              <p>Створює інтуїтивно зрозумілі та стильні дизайни, роблячи кожну взаємодію з нашим сайтом приємною і легкою для клієнтів.</p>
              <p1>KostyaParh@gmail.com</p1>
              <p><a href="/contacts" class="button">Contact</a></p>
              
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{{ url_for('static', filename='About/Антон.jpg') }}" alt="John" style="width:100%">
            <div class="container">
              <h2>Тартаковський Антон</h2>
              <p class="title">Customer Service Manager</p>
              <p>Завжди готовий вислухати клієнта, знаходить рішення в будь-яких ситуаціях і забезпечує найвищий рівень обслуговування.</p>
              <p1>AntonTart@gmail.com</p1>
              <p><a href="/contacts" class="button">Contact</a></p>
              
            </div>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <img src="{{ url_for('static', filename='About/Ілля.jpg') }}" alt="John" style="width:100%">
          <div class="container">
            <h2>Вознюк Ілля</h2>
            <p class="title">Logistics Manager</p>
            <p>Майстер планування, який гарантує швидку та надійну доставку кожної пари кросівок до наших покупців.</p>
            <p1>IllyaaaaVoz@example.com</p1>
            <p><a href="/contacts" class="button">Contact</a></p>
            
          </div>
        </div>
      </div>
    </div>


    <div class="column">
        <div class="card">
          <img src="{{ url_for('static', filename='About/Льоша.jpg') }}" alt="John" style="width:100%">
          <div class="container">
            <h2>Олексій Харчук</h2>
            <p class="title">Data Analyst</p>
            <p>Аналізує цифри та перетворює їх на практичні ідеї, що допомагають нашому бізнесу вдосконалюватися.</p>
            <p1>OleksiiHarchuk@gmail.com</p1>
            <p><a href="/contacts" class="button">Contact</a></p>
            
          </div>
        </div>
      </div>
    </div>

    
    <div class="column">
      <div class="card">
        <img src="{{ url_for('static', filename='About/миха.jpg') }}" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Чернік Михайло</h2>
          <p class="title">Sales Manager</p>
          <p>Вміє знайти підхід до кожного клієнта, мотивує команду та завжди тримає руку на пульсі продажів.</p>
          <p1>misha3213@hmail.com</p1>
          <p><a href="/contacts" class="button">Contact</a></p>
          
        </div>
      </div>
    </div>



      <div class="column">
        <div class="card">
          <img src="{{ url_for('static', filename='About/Богдан.jpg') }}" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Фещук Богдан</h2>
            <p class="title">Social Media Manager</p>
            <p>Завжди креативний і енергійний, створює контент, який привертає увагу і перетворює перегляди на покупки.</p>
            <p1>bogdan14252@example.com</p1>
            <p><a href="/contacts" class="button">Contact</a></p>
            
          </div>
        </div>
      </div>

      





      </body>

</html>
{% endblock %}