<!--Написано Скопіном Денисом-->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WorldOfShoes{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>




<body class="div1">
   <nav class="div2" style="background-color:rgb(73, 95, 100); height:50px;">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center space-x-2">
                <a href="">
                    <img src="{{ url_for('static', filename='icons/favicon.ico') }}" width="40" height="40" style="margin-top: -25%; margin-right: 0%;" >
                </a>
                <a href="/" class="text-white text-xl font-bold transition-transform duration-300 hover:scale-110" style="margin-bottom: 7%;">WorldOfShoes</a>
            </div>
            <div class="hidden md:flex space-x-4" >


                <div class="hidden md:flex space-x-4" style="margin-top: 3px;">
                <a href="/catalog" class="image-container5">
                    <img src="{{ url_for('static', filename='icons/shoe_light.png') }}" width="70" height="70" style="margin-top: -20%;">
                </a>
                <a href="/cart" class="image-container7">
                    <img src="{{ url_for('static', filename='icons/trolley_light.png') }}" width="50" height="50" style="margin-top: -9%; margin-left: 20%;">
                </a>

                <a href="/about" class="image-container2">
                    <img src="{{ url_for('static', filename='icons/more_about_us_light.png') }}" width="70" height="70" style="margin-top: -20%; margin-left: 20%;">
               </a>

                <a href="/home"class="image-container1">
                    <img src="{{ url_for('static', filename='icons/blog_icon_light.png') }}" width="70" height="70" style="margin-top: -18%;">
                </a>
                <a href="/contacts" class="image-container">
                    <img src="{{ url_for('static', filename='icons/phone_light_1.png') }}" width="40" height="40" style="margin-top: 2%;">
                </a>
                <a href="/location" class="image-container3">
                    <img src="{{ url_for('static', filename='icons/pin_location_light.png') }}" width="57" height="57" style="margin-top: -13%;">
                </a>
                {% if 'user_id' in session %}
                        <!-- Кнопка Профілю, коли користувач авторизований -->
                        <a href="/profile" class="text-white hover:text-blue-200 transition-colors duration-300 hover:underline">
                            <img src="{{ url_for('static', filename='icons/user_icon_light.png') }}" width="57" height="57" style="margin-top: -13%;">
                        </a>
                        {% if session.get('is_admin') %}
                        <a href="/admin" style="margin-top: 10px;">
                            <button class="button" style="padding: 0; margin: 0;">ADMIN</button>
                        </a>
                        {% endif %}
                {% else %}
                        <!-- Кнопка "Зареєструватися", коли користувач не авторизований -->
                        <a href="/login" class="image-container9">
                            <img src="{{ url_for('static', filename='icons/user_icon_light.png') }}" width="57" height="57" style="margin-top: -13%;">
                        </a>
                {% endif %}
                </div>
            </div>
            <button id="mobile-menu-button" class="md:hidden text-white w-6 h-6 relative focus:outline-none">
                <span class="burger-line block absolute h-0.5 w-6 bg-current transform transition duration-500 ease-in-out line1"></span>
                <span class="burger-line block absolute h-0.5 w-6 bg-current transform transition duration-500 ease-in-out line2"></span>
                <span class="burger-line block absolute h-0.5 w-6 bg-current transform transition duration-500 ease-in-out line3"></span>
            </button>
        </div>
    </nav>
        <div id="mobile-menu" class="hidden md:hidden overflow-hidden" style="float: right;">
            <a href="/catalog" class="text-white hover:text-blue-200 transition-colors duration-300 hover:underline"><img src="{{ url_for('static', filename='icons/shoe_light.png') }}" width="70" height="70" style="margin-top: -20%;"></a>
            <a href="/cart" class="text-white hover:text-blue-200 transition-colors duration-300 hover:underline"><img src="{{ url_for('static', filename='icons/trolley_light.png') }}" width="50" height="50" style="margin-top: -9%; margin-left: 20%;"></a>
            <a href="/about" class="text-white hover:text-blue-200 transition-colors duration-300 hover:underline"><img src="{{ url_for('static', filename='icons/more_about_us_light.png') }}" width="70" height="70" style="margin-top: -20%; margin-left: 20%;"></a>
            <a href="/home" class="text-white hover:text-blue-200 transition-colors duration-300 hover:underline"><img src="{{ url_for('static', filename='icons/blog_icon_light.png') }}" width="70" height="70" style="margin-top: -18%;"></a>
            <a href="/contacts" class="text-white hover:text-blue-200 transition-colors duration-300 hover:underline" style="margin-right: 0px;"><img src="{{ url_for('static', filename='icons/phone_light_1.png') }}" width="40" height="40" style="margin-top: 2%;"></a>   
            <a href="/location" class="text-white hover:text-blue-200 transition-colors duration-300 hover:underline"><img src="{{ url_for('static', filename='icons/pin_location_light.png') }}" width="57" height="57" style="margin-top: -13%;"></a>
            <a href="/profile" class="text-white hover:text-blue-200 transition-colors duration-300 hover:underline"><img src="{{ url_for('static', filename='icons/user_icon_light.png') }}" width="57" height="57" style="margin-top: -13%;"></a>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="flash_message"> <h4> {{ message }} </h4></div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
    {% block content %}
    
     <!-- Hero Section -->
     <section class="hero-section">
        <div class="hero-content">
            <h1 class="display-4 fw-bold">WorldOfShoes</h1>
            <p class="lead">З нами ваша нога не буде пробита</p>    
            <a href="/catalog"><button class="button" style="margin-top: 4%; padding: 10px 30px;">Shop Now</button></a>
        </div>
    </section>

    <!-- Product Section -->
    <section id="products" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4" style="font-size: 60px;">Чому саме ми?</h2>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="card product-card">
                        
                        <div class="card-body text-center">
                            <h5 class="card-title" style="font-size: 25px;"><b>Швидка доставка</b></h5>
                            <p class="card-text"><b>Наш сервіз з доставки гарантує вам, що ви отримаєте свої шузи вчасно</b></p>
                            <img src="static/Sneackers_base/Vomero42.png" class="card-img-top" alt="Sneaker 1">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card product-card">
                       
                        <div class="card-body text-center" >
                            <h5 class="card-title" style="font-size: 25px;" ><b>Найкраща якість</b></h5>
                            <p class="card-text"><b>Ми гарантуєм оригінальність наших кросівок для наших покупців</b></p>
                            <img src="static/Sneackers_base/Vomero2.png" class="card-img-top" alt="Sneaker 2">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card product-card">
                        
                        <div class="card-body text-center" >
                            <h5 class="card-title" style="font-size: 25px;"><b>Есклюзиви</b></h5>
                            <p class="card-text"><b>В нас ви найдете есклюзивні для нашого магазину пари кросівок</b></p>
                            <img src="static/Sneackers_base/Vomero (1).png" class="card-img-top" alt="Sneaker 3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-4 text-white text-center" style="background-color: rgb(73, 95, 100);">
        <p class="mb-0">© 2024 WorldOfShoes. All Rights Reserved.</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    
    {% endblock %}


    </div>

        

    <script>
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenuButton.addEventListener('click', () => {
            mobileMenuButton.classList.toggle('open');
            if (mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.remove('hidden');
                mobileMenu.classList.add('animate-slide-down');
                mobileMenu.classList.remove('animate-slide-up');
            } else {
                mobileMenu.classList.add('animate-slide-up');
                mobileMenu.classList.remove('animate-slide-down');
                setTimeout(() => {
                    mobileMenu.classList.add('hidden');
                }, 300);
            }
        });
    </script>
</body>
</html>