{% extends "base.html" %}
{% block title %}Кошик{% endblock %}
{% block content %}
{% if cart %}
    <table class="w-full mb-4" style="margin-left: 5%;">
        <thead>
            <tr>
                <th class="text-left">Товар</th>
                <th class="text-left">Ціна</th>
                <th class="text-left">Кількість</th>
                <th class="text-left">Всього</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.values() %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }} грн</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price * item.quantity }} грн</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="text-xl font-bold mb-4" style="margin-left: 5%;">Загальна вартість: {{ total }} грн</p>
    <form action="{{ url_for('catalog.checkout') }}" method="post">
        <div class="mb-4" style="margin-left: 5%;">
            <label for="email" class="block mb-2">Email:</label>
            <input type="email" id="email" name="email" required class="w-full p-2 border rounded">
        </div>
        <div class="mb-4" style="margin-left: 5%;">
            <label for="address" class="block mb-2">Адреса доставки:</label>
            <textarea id="address" name="address" required class="w-full p-2 border rounded"></textarea>
        </div>
        <button type="submit" style="background-color: rgb(73, 95, 100); margin-left: 5%; width: 200px; height: 80px; color: #ffffff; font-weight: bold;" class="button">Оплатити замовлення</button>
    </form>
{% else %}
<body class="empty-cart-page" >
    <div class="empty-cart-container">
        <div class="icon">🛒</div>
        <h1>Кошик порожній</h1>
        <p>Ви ще не додали жодного товару. Перейдіть до магазину, щоб знайти щось цікаве!</p>
        <a href="/catalog"><button class="button" style="padding: 5px 10px;">Каталог</button></a>
    </div>
</body>
{% endif %}
{% endblock %}