{% extends "base.html" %}

{% block title %}Блог{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css_files/contacts.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контактна інформація</title>
</head>
<body>
    <div class="n1">
        <h1>Наш номер телефону</h1>
    <p><a href="tel:+380986547856" style="color: blue;">+380986547856</a></p>

    <h1>Наша Instagram сторінка</h1>
    <p><a href="https://www.instagram.com/world_of_shoes" target="_blank" style="color: blue;">@World of Shoes</a></p>

    <h1>Зворотній зв'язок</h1>
    <img src="{{ url_for('static', filename='jopa.png') }}" />
    </div>
</body>
</html>
{% endblock %}