{% extends "base.html" %}
{% block title %}Магазини{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

<div class="adminbg">
    <div class="order-header">
        <h1><b>Деталі замовлення №{{ order['id'] }}</b></h1>
    </div>

    <div class="order-details">
        <div class="detailsinfo">
            <h2><b>Е.Пошта:</b></h2>
            <p>{{ order['email'] }}</p>
        </div>
        <div class="detailsinfo">
            <h2><b>Адреса для відправлення:</b></h2>
            <p>{{ order['address'] }}</p>
        </div>
        <div class="detailsinfo">
            <h2><b>Дата оформлення замовлення:</b></h2>
            <p>{{ order['date'] }}</p>
        </div>
    </div>

    <div class="order-items">
        <h1><b>Товари в замовленні</b></h1>
        <table>
            <thead>
                <tr>
                    <th>Назва товарів</th>
                    <th>Кількість товару</th>
                    <th>Ціна</th>
                    <th>Загальна сума замовлення</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['quantity'] }}</td>
                    <td>{{ item['price'] }} V-bucks</td>
                    <td>{{ item['price'] * item['quantity'] }} грн</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="order-actions">
        <h1><b>Дії із замовленнями</b></h1>
        <div class="order-status">
            <h2><b>Стан замовлення</b></h2>
            <form action="{{ url_for('admin.update_order', order_id=order['id']) }}" method="post">
                <select name="status" class="status-select">
                    <option value="Обробляємо замовлення" {% if order['status'] == 'Обробляємо замовлення' %}selected{% endif %}>Обробляємо замовлення</option>
                    <option value="Замовлення уже в дорозі" {% if order['status'] == 'Замовлення уже в дорозі' %}selected{% endif %}>Замовлення уже в дорозі</option>
                    <option value="Замовлення було доставлено успішно" {% if order['status'] == 'Замовлення було доставлено успішно' %}selected{% endif %}>Замовлення було доставлено успішно</option>
                    <option value="Замовлення скасоване відправником" {% if order['status'] == 'Замовлення скасоване відправником' %}selected{% endif %}>Замовлення скасоване відправником</option>
                </select>
                <button type="submit" class="button-update">Оновити статус</button>
            </form>
        </div>

        <div class="order-delete">
            <h2><b>Видалити замовлення</b></h2>
            <form action="{{ url_for('admin.delete_order_route', order_id=order['id']) }}" method="post">
                <button type="submit" class="button-delete">Видалити</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
