<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/code.css') }}">
    <title>Новини у світі кросівок 2024</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<body>
    <header>
        <img src="{{ url_for('static', filename='icons/News/world-of-shoes.png') }}" alt="Взуття">
        <h1> Новини у світі кросівок </h1> 
        <ul>
            <li><a href="#Еко-кросівки">Еко-кросівки</a></li>
            <li><a href="#Смарт-технології">Смарт-технології</a></li>
            <li><a href="#Колаборації ">Колаборації </a></li>
        </ul>
    </header>    
    <article>
        <h1 id="Еко-кросівки"> Еко-кросівки </h1>
        <img src="{{ url_for('static', filename='icons/News/adidas-parley-x-ultraboost.jpg') }}" alt="Еко-кросівки" class="eko-sneakers">
        <p>  Світ кросівок 2024 року все більше спрямовується на інновації та стійкість, 
             де екологічні рішення стають невід'ємною частиною сучасного дизайну. Однією з найяскравіших моделей у сфері екологічних кросівок
             у 2024 році є Adidas Ultraboost Light Parley. Це взуття створене з перероблених пластикових відходів, зібраних з океанів,
             у рамках партнерства Adidas з організацією Parley for the Oceans. Модель ідеально поєднує інновації та турботу про довкілля,
             демонструючи, що екологічність може йти пліч-о-пліч із високими технологіями. Ця модель підкреслює основний тренд — перехід 
             до стійких рішень у виробництві взуття. Кожна пара Ultraboost Light Parley — це крок до зниження забруднення, показуючи,
              як великі бренди можуть впливати на екологічну ситуацію, використовуючи інноваційні підходи для збереження планети.
        
        </p>
        <button> Like </button>
    </article>

    <article>
        <h1 id="Смарт-технології"> Смарт-технології </h1>
        <img src="{{ url_for('static', filename='icons/News/Nike rainbov.jpg') }}" alt="Смарт-кросівки" class="smart-sneakers">
        <p>  Смарт-технології у взутті 2024 року революціонізують спортивний та повсякденний досвід, 
             інтегруючи передові рішення для автоматизації, аналізу активності та персоналізації,
             які роблять кожну пару кросівок більш інтелектуальною та адаптованою до потреб користувача. 
             Одним із яскравих прикладів використання смарт-технологій у взутті 2024 року є Nike Adapt BB 2.0.
             Ці кросівки оснащені автоматичною системою шнурівки, що підлаштовується під форму та рух стопи, 
             забезпечуючи ідеальну посадку та підтримку. Завдяки спеціальному додатку, користувач може налаштувати взуття за 
             допомогою смартфона, обираючи рівень шнурівки, а також налаштувати LED-підсвітку на підошві для індивідуального стилю. 
             Кросівки використовують вбудовані датчики для аналізу навантажень під час бігу чи гри в баскетбол, що робить їх 
             чудовим вибором для професійних спортсменів. Технологія Adapt дозволяє забезпечити максимально комфортне носіння 
             без необхідності постійно підлаштовувати взуття вручну.
        </p>
        <button> Like </button>
    </article>

    <article>
        <h1 id="Колаборації"> Колаборації  </h1>
        <img src="{{ url_for('static', filename='icons/News/nb559.jpg') }}" alt="Смарт-кросівки" class="kolab">
        <p>  Колаборації між брендами та знаменитостями в 2024 році стають новим стандартом у світі кросівок, 
             пропонуючи унікальні лімітовані випуски, які поєднують стиль, креативність та індивідуальність. 
             Яскравим прикладом колаборації у світі кросівок 2024 року стала співпраця між New Balance та дизайнером Jaden Smith.
             У рамках цього партнерства було випущено лімітовану серію кросівок New Balance 550, що вирізняється нестандартним 
             дизайном і незвичними кольоровими рішеннями.Моделі отримали елементи, 
             натхненні вуличною культурою та стилем, які відображають індивідуальність самого Джейдена. 
             Кросівки не тільки стали модним акцентом, а й привернули увагу завдяки своїй зручності та підтримці,
             що робить їх ідеальними для активного життя. Ця колаборація підкреслює, як злиття моди та культури може 
             створити справжні шедеври, які сприймаються не лише як взуття, а й як вираження особистості.
        </p>
        <button> Like </button>
    </article>
</body>
</html>

