<!--Написано Фищуком Богданом -->
{% extends "base.html" %}

{% block title %}Авторизація{% endblock %}

{% block content %}


<div class="all-container">
        <form class="all-form" method="post" action="{{ url_for('login.login') }}">
            <h2 class="form-title" style="font-size: 24px; margin-bottom: 20px;">Авторизація</h2>
            <input type="email" class="input-field" name="email" placeholder="Email" required>
            <input type="password" class="input-field" name="password" placeholder="Пароль" required>
            <button type="submit" class="submit-button">Увійти</button>
        </form>
</div>
<div class="form-footer">
        <a href="{{ url_for('login.register') }}" class="all-link" style="margin-top: 10px;"><p style="text-align: center;">Немає акаунта? Зареєструйтесь</p></a>
</div>


{% endblock %}
