<!--Написано Фищуком Богданом -->
{% extends "base.html" %}

{% block title %}Профіль користувача{% endblock %}

{% block content %}
</head>
<body class="body-profile">
    <header class="header-profile">
        <h1>Ласкаво просимо, {{ user.username }}!</h1>
    </header>


    <main class="main-profile">
        <section class="profile-info">
            <h1 style="font-size: 30px; color: #333; background-color: white; text-align: center;">Інформація про профіль</h1>
            <p><strong>Ім'я користувача:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            {% if session.get('is_admin') %}
                <p><strong>У вас є Статус адміна</strong> 
            {% endif %}

        </section>

        <section style="margin: 0 auto; max-width: 105px;">
            <a href="{{ url_for('login.logout') }}"><button class="button" style="padding: 10px 20px;">Вийти</button></a>
        </section>
    </main>

    <footer class="footer-profile">
        <p>&copy; 2024 Ваш сайт. Всі права захищені.</p>
    </footer>
</body>
{% endblock %}
