<!--Написано Фищуком Богданом -->
{% extends "base.html" %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
<body>
    <div class="all-container">
        <form class="all-form" method="post" action="{{ url_for('login.register') }}">
            <h2 class="form-title">Реєстрація</h2>
            <input type="text" class="input-field" name="username" placeholder="Ім'я користувача" required>
            <input type="email" class="input-field" name="email" placeholder="Email" required>
            <input type="password" class="input-field" name="password" placeholder="Пароль" required>
            <button type="submit" class="submit-button">Зареєструватися</button>
        </form>
    </div>
    <div class="form-footer">
        <a href="{{ url_for('login.login') }}" class="all-link" style="margin-bottom: 100px; "><p style="text-align: center;">Уже маєте акаунт? Увійдіть</p></a>
    </div>
</body>

{% endblock %}
