<!--Написано Фищуком Богданом -->
{% extends "base.html" %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">


<body>
    <div class="register-container">
        <form class="register-form" method="post" action="{{ url_for('login.register') }}">
            <h2 class="form-title">Реєстрація</h2>
            <input type="text" class="input-field" name="username" placeholder="Ім'я користувача" required>
            <input type="email" class="input-field" name="email" placeholder="Email" required>
            <input type="password" class="input-field" name="password" placeholder="Пароль" required>
            <button type="submit" class="submit-button">Зареєструватися</button>
        </form>
    </div>
    <div class="form-footer">
        <a href="{{ url_for('login.login') }}" class="login-link">Уже маєте акаунт? Увійдіть</a>
    </div>
</body>

{% endblock %}
