{% extends "base.html" %}

{% block title %}Магазини{% endblock %}

{% block content %}
<title>Магазини</title>
<link rel="" href="css_files/location.css">
<body>
    <p1 class=".header">Магазини World of Shoes</p1>
    <div>
        <p class="Nike">МАГАЗИН NIKE</p>
        <p>м. Київ, бул. Л. Українки, 24</p>
        <p>Графік роботи: 10:00 - 21:00</p>
    </div> 
    <div>    
        <p class="Nike">МАГАЗИН NIKE</p>
        <p>м. Київ, Кільцева дорога, 1</p>
        <p> ТРЦ RESPUBLIKA PARK Графік роботы: 10:00 - 22:00</p>
    </div>
</body>
{% endblock %}