.header{
    justify-content: center;
    display: flex;
    background-color: burlywood;
    margin: 30px;
    padding: 0;
}

.parent{
    font-family: Arial, Helvetica, sans-serif;
    display: block
}

body{
    min-height: 100vh;
    flex-direction: row;
    
}

.NIKE{
    font-weight: bold;
}

div{
    line-height: 2;
}