.adminbg{
    background-color: rgb(73, 95, 100);
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.bg{
    background-color: aliceblue;
    margin: 0 40px;
}

.detailsinfo{
    display: flex;
    justify-content: space-evenly;
}
.buttons{
    background-color: #75959c;
    width: 140px;
    height: 40px;
    border-radius: 20px;
}
.buttons:hover{
    background-color: #627c82;
}
.buttonsdelete{
    background-color: #75959c;
    width: 140px;
    height: 40px;
    border-radius: 20px;
}
.buttonsdelete:hover{
    background-color: #c54b4b;
}