/* Стилі для заголовка */
h1 {
    text-align: center; /* Текст по центру */
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(73, 95, 100);
    width: 80%; /* Відсоткове значення для ширини */
    max-width: 300px; /* Максимальна ширина */
    height: auto; /* Висота автоматично під текст */
    line-height: 1.3; /* Вирівнювання тексту по вертикалі */
    margin: 20px auto 10px auto; /* Відступи зверху, знизу та по центру */
    font-size: 5vw; /* Відносний розмір шрифту */
    border-radius: 8px;
    color: white;
    padding: 0 10px; /* Відступи для збереження пропорцій */
}

/* Адаптивність через медіа-запити */
@media (min-width: 1024px) {
    h1 {
        font-size: 30px; /* Максимальний розмір шрифту для великих екранів */
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 6vw; /* Розмір тексту для середніх екранів */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 7vw; /* Розмір тексту для мобільних пристроїв */
    }
}
