@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.header{
    text-align: center;/*Текст по центру*/
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color:rgb(73, 95, 100);
    width: 300px;/*Довжина*/
    height: 40px;/*Ширина*/
    margin: 0 auto;
    font-size: 30px;/*Розмір шрифту*/
    border-radius: 10px;/*Заокруглення*/
    color: white;
}


body{
    margin: 0;
    margin-top: 0px;
    
}

.Nike{
    font-weight: bold;
}

.distance{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;/*Відступи між div*/
    margin-left: 10vh;
    margin-top: 20px;

}

#map {
    display: flex;
    position: absolute;
    top: 160px; /* Відступ зверху */
    margin-left: 600px; /* Відступ зліва */
    width: 750px; /* Ширина карти */
    height: 500px; /* Висота карти */
}